/* Imported fonts*/
@import url(https://fonts.googleapis.com/css?family=Coda);

/* Applying same font throughout page*/
* {
    font-family: 'Coda', sans-serif;
}

/* This is the header container for this page*/
#header-container {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Flex box parent to wrap page*/
#main-body-wrapper {
    display: flex;
    height: 110vh; 
}

/*Container for the text*/
.para-container {
    display: flex;
    height: auto;
    width: 35vw;
    flex-direction: column;
}