/* Importing Google font*/ 
@import url(https://fonts.googleapis.com/css?family=Coda);

/* Applying font to the whole page*/
* {
    font-family: 'Coda', sans-serif;
}

/* footer wrapper*/
#footer-wrapper {
    display: flex;
    height: 35vh;
    width: 98.8vw;
    background-color: yellow;
    justify-content: center;
}

/* flex container for the footer contents*/
#footer-container {
    display: flex;
    height: 35vh;
    width: 80vw;
    flex-direction: column;
    background-color: green;   
}

/* Title container*/
#footer-title {
   display: flex;
   justify-content: center;
   height: 8vh;
   width: auto;
   font-size: 24px;
   margin: 0; 
   background-color: red;
}

/* Footer bottom wrapper bellow the header*/
#footer-bottom-wrapper {
    display: flex;
    height: 26.9vh;
    width: 80vw;
    background-color: pink;
    justify-content: center;
}

/* left side column in the footer*/
#footer-left {
    display: flex;
    height: 26.9vh;
    width: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Right side column in the footer */
#footer-right {
    display: flex;
    height: 26.9vh;
    width: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}