@import url(https://fonts.googleapis.com/css?family=Coda);


* {
    font-family: 'Coda', sans-serif;
}


/*Wrapper for the nav bar*/
#sidebar-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    height: 4vh;

}

/* Button sizes*/
@media screen
and (height: 450px)
and (width: 480px) {
button {
    height: 4vh;
    width: 5vw;
    background-color: red;
}
}
